.preview
{
	background: url('../images/preview.jpg') top center;
	display: none;
	opacity: 0.5;
	position: absolute;
	top: 40px;
	height: 4040px;
	width: 100%;
	z-index: 1000;
}

html, body, h1, ul, figure
{
	margin: 0;
	padding: 0;
}

body
{
	background: #FFF;
}

.container
{
	margin: 0 auto;
	max-width: 80em; /* 1280px */
	overflow: hidden;
	position: relative;
}

h1
{
	font-family: "Oswald", sans-serif;
	font-weight: normal;
	text-align: center;
	text-transform: uppercase;
}

img
{
	display: block;
	margin: 0 auto;
	max-width: 100%;
}

abbr
{
	border: 0;
}

ul
{
	list-style: none;
}

@media (min-width: 60em)
{
	.inner-container
	{
		margin: 0 3%;
	}
}

@media (min-width: 75em)
{
	.inner-container
	{
		margin: 0 6%;
	}
}

@media (min-width: 80em) /* ~1280px */
{
	.inner-container
	{
		margin: 0 12.5%;
	}
}

/* =HEADER
------------------------------------------------------- */

header
{
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	margin-bottom: 1em;
	overflow: auto;
	position: relative;
	z-index: 2;
}

header .issue-info
{
	color: #B0AEB8;
	font: italic 0.75em "Lora", serif;
}

header h1
{
	color: #333;
	font: 100 4.5em "Lato", sans-serif;
}

@media (min-width: 32em) /* ~500px */
{
	header
	{
		font-size: 1.25em;
	}

	header .issue-info
	{
		font-size: 0.7em;
	}
}

@media (min-width: 56em) /* ~900px */
{
	header
	{
		margin: 0 6%;
	}

	header h1
	{
		color: #FFF;
		float: left;
		font-size: 11em;
		letter-spacing: 0.1em;
		line-height: 0.85em;
		padding-top: 5.85%;
		overflow: hidden;
		text-align: left;
		width: 1.9em;
	}

	header h1:after
	{
		content: "Off";
		display: block;
		letter-spacing: 0;
		width: 2.5em;
	}

	header .issue-info
	{
		float: right;
		font-size: 0.6em;
		padding-top: 14.55%;
	}
}

@media (min-width: 80em) /* ~1280px */
{
	header
	{
		margin: 0 12.578125% 0 9.5%;
	}

	header h1
	{
		font-size: 14em;
		letter-spacing: 0.04em;
		line-height: 0.82em;
		padding-top: 3%;
	}

	header h1:after
	{
		letter-spacing: -0.05em;
	}
}

/* =FEATURE
------------------------------------------------------- */

.feature
{
	font-family: "Merriweather", serif;
	padding-bottom: 1em;
}

.feature h1
{
	color: #FFF;
	background: #FDCD84;
	font-size: 2em;
	text-shadow: 0 2px 2px #B9955E;
	line-height: 0.9em;
	margin-bottom: 0.5em;
	padding: 3% 0 5%;
}

.feature .subheading
{
	color: #B9955E;
	display: block;
	font: 300 0.45em/2em "Merriweather", serif;
	letter-spacing: 0.15em;
	text-shadow: none;
}

.feature .content
{
	padding: 0 5%;
}

@media (min-width: 32em) /* ~500px */
{
	.feature h1
	{
		font-size: 3em;
		padding: 3% 0 4%;
	}

	.feature .subheading
	{
		font-size: 0.3em;
	}
}

@media (min-width: 56em) /* ~900px */
{
	.feature
	{
		position: absolute;
		right: 0;
		top: 4.5%;
		width: 54.5%;
		z-index: 1;
	}

	.feature h1
	{
		background: none;
		color: rgba(253, 205, 132, 0);
		font-size: 3.75em;
		line-height: 1.05em;
		margin: 56.5% 0 0 5%;
		position: relative;
		text-align: left;
		text-shadow: -0.7em -0.2em 20px #333;
		width: 1em;
		z-index: 2;
	}

	.feature h1:after
	{
		content: "Positioning Relatives";
		color: rgba(253, 205, 132, 100);
		left: -0.07em;
		position: absolute;
		text-shadow: none;
		top: 0.5em;
	}

	.feature .subheading
	{
		color: #CBB8A0;
		font-size: 0.2em;
		line-height: 1em;
	}

	.feature figure
	{
		background-image: radial-gradient(ellipse 24% 3% at 25.5% 92%, #888 0%, transparent 100%);
		margin-left: -20%;
		position: absolute;
		padding-bottom: 10%;
		padding-left: 10%;
		top: 3.5%;
		max-width: 122%;
	}

	.feature figure img
	{
		-webkit-transform: rotate(-3.75deg);
		transform: rotate(-3.75deg);
	}

	.feature .content
	{
		font-size: 1.5em;
	}
}

@media (min-width: 80em) /* ~1280px */
{
	.feature h1
	{
		font-size: 4.4em;
		letter-spacing: 0.025em;
		margin: 52.5% 0 0 5%;
	}

	.feature figure
	{
		margin-left: -27%;
		top: 3.5%;
		max-width: 112%;
	}

	.feature p
	{
		letter-spacing: -0.01em;
		line-height: 1.4em;
		margin-top: -0.05em;
		width: 80%;
	}
}

/* =ARTICLE-BOX
------------------------------------------------------- */

.article-box
{
	background: #CDC9DD;
	background-image: linear-gradient(to bottom, #CDC9DD 42%, #D9D5E5 42%, #CFCBDE 100%);
	color: #6E6C77;
	font-family: "Lato", sans-serif;
	padding: 8% 5% 3%;
	text-align: center;
}

.article-box h1
{
	color: #5F5D66;
	font-family: "Lora", serif;
	font-size: 1.5em;
	font-style: italic;
	font-weight: 700;
	text-transform: capitalize;
}

.article-box p
{
	margin: 0.5em 0 0.8em;
}

.article-box img
{
	background-image:	radial-gradient(ellipse 25% 5% at 25% 80%, #777 0%, transparent 100%),
						radial-gradient(ellipse 25% 5% at 73% 87%, #777 0%, transparent 100%);
	padding-bottom: 10%;
	position: relative;
	z-index: 5;
}

@media (min-width: 32em) /* ~500px */
{
	.article-box
	{
		background-image: linear-gradient(to bottom, #CDC9DD 52%, #D9D5E5 52%, #CFCBDE 100%);
	}
}

@media (min-width: 39em)
{
	.article-box img
	{
		background-image:	radial-gradient(ellipse 25% 5% at 25% 75%, #777 0%, transparent 100%),
							radial-gradient(ellipse 25% 5% at 73% 82%, #777 0%, transparent 100%);
	}
}

@media (min-width: 55em) 
{
	.article-box img
	{
		background-image:	radial-gradient(ellipse 25% 5% at 25% 72%, #777 0%, transparent 100%),
							radial-gradient(ellipse 25% 5% at 73% 78%, #777 0%, transparent 100%);
	}
}

@media (min-width: 56em) /* ~900px */
{
	.article-box
	{
		background-image: linear-gradient(to bottom, #CDC9DD 60%, #D9D5E5 60%, #CFCBDE 97%, #FFF 97%);
		margin-bottom: 7%;
		margin-top: -47%;
		padding: 43% 5.5% 0 5%;
		top: 0;
		width: 35%;
	}

	.article-box h1
	{
		font-size: 2.25em;
		margin: -6% 0 0 33%;
	}

	.article-box img
	{
		background-image:	radial-gradient(ellipse 25% 5% at 25% 80%, #777 0%, transparent 100%),
							radial-gradient(ellipse 25% 5% at 73% 87%, #777 0%, transparent 100%);
	}

	.article-box p
	{
		font-size: 1.25em;
		margin-left: 25%;
		margin-right: -10%;
		width: 80%;
	}
}

@media (min-width: 63em) /* ~1000px */
{
	.article-box
	{
		background-image: linear-gradient(to bottom, #CDC9DD 63%, #D9D5E5 63%, #CFCBDE 97%, #FFF 97%);
	}
}

@media (min-width: 80em) /* ~900px */
{
	.article-box
	{
		background-image: linear-gradient(to bottom, #CDC9DD 67%, #D9D5E5 67%, #CFCBDE 97%, #FFF 97%);
		margin-bottom: 6.6%;
	}
}

/* =ARTICLE-BULLET
------------------------------------------------------- */

.article-bullet
{
	font-family: "Oswald", sans-serif;
	overflow: auto;
	text-transform: uppercase;
}

.article-bullet h1
{
	border: 1px solid #E5E5E5;
	border-width: 1px 0;
	color: #A97D35;
	font-size: 1.3em;
	margin: 1em 0;
	padding: 2.5% 0;
}

.article-bullet h1 .subheading
{
	color: #E0C167;
	display: block;
	font: 700 0.7em "Lato", sans-serif;
}

.article-bullet li
{
	border-bottom: 1px solid #E5E5E5;
	padding-bottom: 5%;
	color: #E0E0E0;
	margin: 5%;
	overflow: auto;
	position: relative;
}

.article-bullet img
{
	-webkit-filter: drop-shadow(8px 8px 0 rgba(0, 0, 0, 0.1));
	filter: drop-shadow(8px 8px 0 rgba(0, 0, 0, 0.1));
	float: left;
	margin-left: 8%;
	position: relative;
	z-index: 1;
}

.article-bullet .info
{
	position: absolute;
	right: 8%;
}

.caliber, .manufacturer, .weight
{
	display: block;
}

.caliber
{
	font-size: 5em;
	line-height: 1.2em;
}

.manufacturer
{
	font-size: 1.75em;
	line-height: 0.9em;
}

.weight
{
	font-size: 1.95em;
	text-transform: capitalize;
}

.russian .caliber
{
	font-size: 1.8em;
}

.russian .manufacturer
{
	font-size: 2.3em;
	line-height: 1.2em;
}

.russian .weight
{
	font-size: 2.2em;
	line-height: 1em;
}

.thumper .manufacturer
{
	font-size: 2.1em;
}

.thumper .weight
{
	font-size: 2.2em;
	line-height: 1.2em;
}

.bthp .weight
{
	font-size: 1.75em;
	line-height: 1.4em;
}

@media (min-width: 25em) /* ~400px */
{
	.article-bullet li
	{
		float: left;
		height: 25em;
		display: block;
		margin: 0;
		width: 50%;
	}

	.article-bullet li:last-child
	{
		width: 100%;
	}

	.article-bullet img
	{
		float: none;
		display: block;
		margin: 20% auto 0;
	}

	.article-bullet .info
	{
		text-align: center;
		position: absolute;
		right: 0;
		top: 52%;
		width: 100%;
	}

	.russian .info
	{
		top: 62%;
	}

	.bthp img
	{
		margin-top: 10%;
	}

	.article-bullet .winchester img
	{
		margin-top: 0;
	}
}

@media (min-width: 38em) /* ~600px */
{
	.article-bullet li, .article-bullet li:last-child
	{
		width: 33%;
	}

	.article-bullet li:nth-child(4), .article-bullet li:nth-child(5)
	{
		width: 50%;
	}
}

@media (min-width: 60em) /* ~850px */
{
	.article-bullet h1
	{
		font-size: 1em;
	}

	.article-bullet
	{
		float: right;
		width: 83%;
	}

	.article-bullet h1 .subheading
	{
		display: inline;
	}

	.article-bullet li, .article-bullet li:nth-child(n)
	{
		border-bottom: none;
		border-right: 1px solid #E5E5E5;
		width: 19.8%;
	}

	.article-bullet li:last-child
	{
		border-right: none;
	}

	.article-bullet img
	{
		margin-top: 45%;
	}
}

@media (min-width: 68em) /* ~850px */
{
	.article-bullet li
	{
		height: 22em;
	}
}

@media (min-width: 80em) /* ~850px */
{
	.article-bullet li
	{
		height: 25em;
	}

	.article-bullet h1
	{
		letter-spacing: 0.08em;
		padding: 1% 0;
	}
}

/* =ARTICLE-AFLOAT
------------------------------------------------------- */

.article-afloat
{
	color: #464646;
	font-family: "Lato", sans-serif;
	padding: 0 5%;
	position: relative;
	z-index: 3;
}

.article-afloat h1
{
	color: #247A5A;
	margin: 0.7em 0 0.4em;
	text-transform: capitalize;
}

@media (min-width: 38em) /* ~600px */
{
	.article-afloat
	{
		overflow: auto;
	}

	.article-afloat p
	{
		float: left;
		width: 70%;
	}

	.article-afloat img
	{
		float: right;
		width: 30%;
	}
}

@media (min-width: 60em) /* ~850px */
{
	.article-afloat
	{
		padding: 1.4% 2.75% 0 0;
	}

	.article-afloat, .article-afloat h1
	{
		text-align: right;
	}

	.article-afloat p, .article-afloat img
	{
		float: none;
		width: auto;
	}

	.article-afloat p
	{
		font-size: 0.9em;
		margin: 0.2em 0 1em;
	}

	.article-afloat h1
	{
		font-size: 1.2em;
	}

	.article-afloat img
	{
		max-width: 120%;
	}
}

/* =ARTICLE-BLOCKS
------------------------------------------------------- */

.article-blocks
{
	margin: 1em 0 0;
	position: relative;
	z-index: 2;
}

.article-blocks h1
{
	background: #524741;
	color: #FFF;
	padding: 4% 0;
}

.article-blocks .photo
{
	box-shadow: inset 0px 0px 40px rgba(0, 0, 0, 0.5);
	display: none;
	position: relative;
}

.article-blocks .photo img
{
	position: relative;
	z-index: -1;
	width: 100%;
}

.article-blocks .info
{
	background: #71625A;
	color: #FFF;
	font-family: "Merriweather", sans-serif;
	font-weight: 300;
	padding: 3% 5% 7%;
}

.article-blocks .credit
{
	color: #B8B1AD;
	font-size: 0.9em;
}

.article-blocks .credit a
{
	color: #B8B1AD;
	text-decoration: none;
}

.article-blocks .map
{
	overflow: hidden;
	position: relative;
	padding-bottom: 65.72916666666667%;
	height: 0;
}

.article-blocks .map:before
{
	background: url('../images/beatles.jpg') no-repeat;
	content: ' ';
	height: 100%;
	position: absolute;
	top: 0;
	-moz-transition: ease 1s;
	transition: ease 1s;
	width: 85%;
	z-index: 4;
}

.article-blocks .map:hover:before
{
	width: 0%;
}

.article-blocks .map:after
{
	background: url('../images/beatles.jpg') no-repeat;
	content: ' ';
	height: 80%;
	position: absolute;
	right: 0;
	top: 0;
	-moz-transition: ease 1s;
	transition: ease 1s;
	width: 100%;
	z-index: 4;
}

.article-blocks .map:hover:after
{
	height: 0%;
}

.article-blocks .map iframe
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.article-blocks .map-wrapper:before
{
	background: #A49892;
	background-image: linear-gradient(180deg, #A49892 0%, #A49892 85%, #6A5C55 97%);
	box-shadow: inset 0 0 5px #FFF;
	bottom: 0;
	content: ' ';
	height: 200%;
	position: absolute;
	right: -60.5%;
	-webkit-transform: rotate(-40.5deg);
	transform: rotate(-40.5deg);
	-moz-transition: ease 1s;
	transition: ease 1s;
	width: 200%;
	z-index: 3;
}

.article-blocks .map:hover .map-wrapper:before
{
	right: 0;
}

@media (min-width: 37em)
{
	.article-blocks h1
	{
		font-size: 2.5em;
	}

	.article-blocks .info
	{
		padding-bottom: 4%;
	}
}

@media (min-width: 56em)
{
	.article-blocks h1
	{
		padding: 2% 0;
	}
}

@media (max-width: 56em)
{
	.article-blocks .map
	{
		display: none;
	}

	.article-blocks .photo
	{
		display: block;
	}
}

@media (min-width: 60em)
{
	.article-blocks
	{
		font-size: 1.55em;
		margin-top: -1%;
		max-width: 38em;
	}

	.article-blocks h1
	{
		font-size: 2em;
		letter-spacing: 0.025em;
		margin: 0;
		padding: 0.45em 0;
	}

	.article-blocks .info
	{
		letter-spacing: 0.01em;
		line-height: 1.4em;
		padding: 2% 2.6%;
	}

	.article-blocks .info p
	{
		margin: 0 0 0.75em;
	}

	.article-blocks .credit
	{
		font-size: 0.7em;
	}
}

@media (min-width: 80em)
{
	.article-blocks
	{
		margin-top: -3%;
		max-width: 100%;
	}
}

/* =ARTICLE-BORDER
------------------------------------------------------- */

.article-border
{
	padding: 10em 5% 7%;
	position: relative;
}

.article-border .people
{
	position: absolute;
	top: 0;
	width: 90%;
}

.article-border .people li
{
	display: none;
	text-align: center;
	width: 100%;
}

.article-border .people li:nth-child(1)
{
	display: block;
}

.article-border h1, .article-border .tagline
{
	font-family: "Oswald", sans-serif;
	display: block;
	text-align: center;
}

.article-border h1
{
	border-bottom: 0.26em solid #000;
	font-size: 2.1em;
	text-transform: uppercase;
}

.article-border .tagline
{
	border-bottom: 0.125em solid #000;
	font-size: 0.99em;
	margin-bottom: 0.75em;
	padding: 0.5em 0;
}

.article-border .facts
{
	font-family: "Merriweather", serif;
}

.article-border .facts li
{
	display: inline;
}

.article-border .facts li:before
{
	content: "\2219";
	font-size: 3.8em;
	line-height: 0;
	vertical-align: middle;
}

.article-border .facts li:first-child
{
	padding: 0;
}

.article-border .facts li:first-child:before
{
	content: "";
}

.article-border .country
{
	font-weight: 700;
}

@media (min-width: 32em) /* ~500px */
{
	.article-border .people li
	{
		float: left;
		width: 50%;
	}

	.article-border .people li:nth-child(2)
	{
		display: block;
	}

	.article-border h1
	{
		font-size: 3.25em;
	}

	.article-border .tagline
	{
		font-size: 1.65em;
	}
}

@media (min-width: 44em) /* ~700px */
{
	.article-border .people li
	{
		float: left;
		width: 33%;
	}

	.article-border .people li:nth-child(3)
	{
		display: block;
	}

	.article-border h1
	{
		font-size: 4.5em;
	}

	.article-border .tagline
	{
		font-size: 2em;
	}
}

@media (min-width: 60em) /* ~900px */
{
	.article-border
	{
		border-right: 1px solid #E5E5E5;
		float: left;
		font-size: 1.2em;
		letter-spacing: 0.027em;
		padding: 7.1em 2.5% 0 0;
		width: 72.5%;
	}

	.article-border:before
	{
		background: #FFF;
		bottom: 0;
		content: ' ';
		height: 10%;
		position: absolute;
		right: -1px;
		width: 1px;
	}

	.article-border h1
	{
		font-size: 3.75em;
		padding-bottom: 0.04em;
	}

	.article-border .tagline
	{
		font-size: 1.75em;
		margin-bottom: 0.3em;
		padding: 0.3em 0 0.4em;
	}

	.article-border .people
	{
		width: 104%;
	}

	.article-border .people li
	{
		float: left;
		width: 25%;
	}

	.article-border .people li:nth-child(4)
	{
		display: block;
	}
}

@media (min-width: 80em) /* ~900px */
{
	.article-border
	{
		font-size: 1.3em;
	}
}

/* =ARTICLE-MOVIE
------------------------------------------------------- */

.article-movie
{
	background: #3A83BB;
	background-image: radial-gradient(ellipse 15px 15px at 50% 100%, #FFF 0%, #FFF 99%, transparent 100%);
	color: #FFF;
	font-family: "Lora", italic;
	overflow: auto;
	padding: 5% 0;
	position: relative;
}

.article-movie h1
{
	border-bottom: 9px solid #619CC9;
	font-size: 2.75em;
	line-height: 1em;
	margin: 5% 5%;
	padding-bottom: 5%;
}

.article-movie h1 .subheading
{
	display: block;
	font-size: 0.7em;
}

.article-movie figure
{
	background-image: radial-gradient(ellipse 38% 15px at 50% 89%, #333 0%, transparent 100%);
	padding-bottom: 1em;
	width: 100%;
}

.article-movie .description
{
	display: block;
	font-style: italic;
	line-height: 1.5em;
	margin-bottom: 8%;
	padding: 0 5%;
	text-align: center;
}

.article-movie section
{
	margin: 5% 0;
	padding: 7% 0 5%;
}

.article-movie section:last-child
{
	padding-bottom: 1%;
}

.article-movie .rating
{
	border: 3px dashed #234F70;
	border-width: 3px 0;
	box-shadow: inset 0 5px 0 #3476A8,
				inset 0 -5px 0 #3476A8;
	overflow: auto;
	position: relative;
}

.article-movie .rating h1
{
	border: none;
	color: #75A8D0;
	position: absolute;
	font-size: 2.8em;
	line-height: 0.8em;
	margin: 0;
	padding-left: 3%;
	text-align: left;
	width: 50%;
}

.article-movie .rating h1 .subheading
{
	font-size: 0.45em;
}

.article-movie .percentage
{
	color: #FFF;
	display: block;
	font-family: "Oswald", sans-serif;
	font-size: 4.5em;
	line-height: 1.4em;
	margin: -0.15em auto 5%;
	text-align: right;
	width: 90%;
}

.article-movie .percentage:after
{
	background-image: linear-gradient(to right, #FFF 20%, #619cc9 20%);
	display: block;
	content: ' ';
	height: 10px;
}

.article-movie .premiere
{
	font-family: "Oswald", sans-serif;
	padding: 0 5% 10%;
	text-transform: uppercase;
}

.article-movie .premiere h1
{
	background-image: linear-gradient(to right, #619CC9 20%, transparent 20%, transparent 80%, #619CC9 80%);
	border: 0;
	color: #88AED1;
	font-size: 1.25em;
	margin: 1.5em 0 0.5em;
	padding: 0; 
}

.article-movie .premiere span
{
	display: block;
	font-size: 2.4em;
	text-align: center;
	line-height: 1.25em;
}

.article-movie .premiere .location
{
	color: #88AED1;
	font-size: 2.5em;
}

.article-movie .premiere .date
{
	font-size: 3.4em;
	line-height: 1em;
}

.article-movie .content
{
	margin: 0 auto;
	overflow: hidden;
	max-width: 20em;
}

@media (min-width: 32em) /* ~500px */
{
	.article-movie h1
	{
		margin-bottom: 2.5%;
		padding-bottom: 2.5%;
	}

	.article-movie .description
	{
		font-size: 1.3em;
		margin-bottom: 0;
	}

	.article-movie figure
	{
		background-image: radial-gradient(ellipse 20% 15px at 50% 89%, #333 0%, transparent 100%);
	}

	.article-movie .rating, .article-movie .premiere
	{
		border: 3px dashed #234F70;
		border-width: 3px 0 0 0;
		box-shadow: inset 0 5px 0 #3476A8;
		margin-bottom: 2%;
	}

	.article-movie .rating
	{
		float: left;
		width: 50%;
	}

	.article-movie .rating .content
	{
		max-width: 17em;
	}

	.article-movie .premiere
	{
		float: right;
		padding: 2% 5% 0;
		width: 40%;
	}

	.article-movie .rating h1
	{
		font-size: 2.5em;
	}

	.article-movie .percentage
	{
		font-size: 3.7em;
	}

	.article-movie .premiere h1
	{
		font-size: 1em;
		line-height: 1em;
	}

	.article-movie .premiere .theatre
	{
		font-size: 1.65em;
		line-height: 0.8em;
	}

	.article-movie .premiere .location
	{
		font-size: 1.7em;
		line-height: 1.55em;
	}

	.article-movie .premiere .date
	{
		font-size: 2.4em;
	}
}

@media (min-width: 36em)
{
	.article-movie .premiere
	{
		font-size: 1.2em;
	}
}

@media (min-width: 43em) /* ~700px */
{
	.article-movie h1, .article-movie .description
	{
		float: right;
		width: 40%;
	}

	.article-movie h1
	{
		font-size: 2.5em;
	}

	.article-movie .description
	{
		font-size: 1em;
	}

	.article-movie figure
	{
		float: left;
		width: 50%;
	}

	.article-movie .rating
	{
		float: left;
		font-size: 1.25em;
	}

	.article-movie .premiere
	{
		float: left;
		font-size: 1.35em;
	}

	.article-movie .premiere h1
	{
		float: none;
		width: 100%;
	}

	.article-movie .movie-info
	{
		overflow: auto;
		width: 100%;
	}
}

@media (min-width: 60em)
{
	.article-movie
	{
		float: right;
		margin-top: 1.5%;
		overflow: visible;
		padding-bottom: 1.5%;
		width: 23.5%;
		z-index: 4;
	}

	.article-movie figure
	{
		background-image: radial-gradient(ellipse 38% 15px at 50% 89%, #333 0%, transparent 100%);
		margin-top: -50%;
		position: relative;
		width: 100%;
	}

	.article-movie h1
	{
		font-size: 1.8em;
		float: none;
		margin-bottom: 0.5em;
		width: 90%;
	}

	.article-movie h1 .subheading
	{
		font-size: 0.65em;
		line-height: 2em;
	}

	.article-movie .description
	{
		margin-bottom: 0.5em;
		text-align: left;
		width: 90%;
	}

	.article-movie .rating
	{
		border-width: 3px 0;
		box-shadow: inset 0 5px 0 #3476A8,
					inset 0 -5px 0 #3476A8;
		font-size: 0.8em;
		margin-bottom: 0;
		padding-bottom: 8%;
		width: 100%;
	}

	.article-movie .premiere
	{
		float: none;
		font-size: 0.95em;
		width: 90%;
	}

	.article-movie .percentage
	{
		font-size: 3.75em;
		line-height: 1.5em;
	}
}

@media (min-width: 63em)
{
	.article-movie h1
	{
		font-size: 2em;
	}

	.article-movie h1 .subheading
	{
		font-size: 0.65em;
		line-height: 2em;
	}

	.article-movie .rating
	{
		font-size: 0.85em;
	}

	.article-movie .premiere
	{
		border: none;
		box-shadow: none;
		clear: both;
		font-size: 1em;
		margin-bottom: 5%;
	}

	.article-movie .percentage
	{
		font-size: 3.75em;
		line-height: 1.5em;
	}
}

/* =ARTICLE-OVERFLOW
------------------------------------------------------- */

.article-overflow
{
	color: #5E6C74;
	clear: both;
	font-family: "Lora", serif;
	font-style: italic;
	margin: 5% 0 0 0;
	padding-bottom: 4.7%;
	position: relative;
	z-index: 4;
}

.article-overflow h1
{
	background: url(../images/overflow.png) no-repeat;
	background-size: 100% auto;
	height: 407px;
	text-align: left;
	text-indent: -1000em;
	max-width: 1058px;
	width: 210%;
}

.article-overflow .content
{
	margin-top: -15em;
	padding: 0 5%;
}

.article-overflow .location
{
	font-weight: 700;
}

.article-overflow .closing
{
	display: block;
}

@media (min-width: 60em)
{
	.article-overflow
	{
		float: left;
		margin: -2.5% 0 0 -2.1%;
		width: 100%;
	}

	.article-overflow h1
	{
		left: -2.2%;
		z-index: 5;
	}

	.article-overflow .content
	{
		font-size: 0.95em;
		padding: 0;
	}

	.article-overflow p
	{
		clear: both;
		display: block;
	}

	.article-overflow p:nth-child(1)
	{
		float: right;
		text-align: right;
		-webkit-transform: rotate(2deg);
		transform: rotate(2deg);
		width: 76%;
	}

	.article-overflow p:nth-child(2)
	{
		float: left;
		text-align: left;
		-webkit-transform: rotate(-1deg);
		transform: rotate(-1deg);
		width: 76%;
	}

	.article-overflow p:nth-child(3)
	{
		float: right;
		text-align: left;
		-webkit-transform: rotate(1deg);
		transform: rotate(1deg);
		margin-right: 13%;
		width: 74%;
	}
}

/* =FOOTER
------------------------------------------------------- */

footer
{
	border-top: 1px solid #E5E5E5;
	clear: both;
	margin: 0 auto;
	max-width: 60em;
	overflow: auto;
	padding: 5%;
}

footer .issue-info, footer address
{
	display: block;
	text-align: center;
}

footer .issue-info
{
	color: #666666;
	font-family: "Lato", sans-serif;
	margin-bottom: 1em;
}

footer .volume
{
	color: #8C8C8C;
}

footer address
{
	color: #989898;
	font-family: "Merriweather", serif;
	font-size: 0.81em;
	font-style: normal;
}

footer .line
{
	display: block;
}

footer .street
{
	font-weight: 700;
}

@media (min-width: 43em)
{
	footer
	{
		padding: 0 5% 10%;
	}

	footer .issue-info
	{
		float: left;
		padding-top: 2%;
	}

	footer address
	{
		float: right;
		padding-top: 2.5%;
		text-align: right;
	}
}

@media (min-width: 63em)
{
	footer
	{
		padding: 0 0 10%;
	}
}