html, body, header h1
{
	margin: 0;
	padding: 0;
}

header
{
	overflow: auto;
}

html, body
{
	background: #FFF;
}

.container
{
	margin: 0 auto;
	max-width: 80em; /* 1280px */
	overflow: hidden;
}

h1
{
	font-weight: normal;
	text-align: center;
}

img
{
	max-width: 100%;
}

/* =HEADER
------------------------------------------------------- */

header
{

	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	position: relative;
	z-index: 1;
}

header .issue-info
{
	color: #B0AEB8;
	font-family: "Lora", serif;
	font-size: 0.75em;
	font-style: italic;
}

header h1
{
	color: #333;
	font-family: "Lato", sans-serif;
	font-size: 4.5em;
	font-weight: 100;
}

@media (min-width: 32em) /* ~500px */
{
	header
	{
		font-size: 1.25em;
	}

	header .issue-info
	{
		font-size: 0.7em;
	}
}

@media (min-width: 56em) /* ~900px */
{
	header
	{
		margin: 0 6% 0 6%;
	}

	header h1
	{
		float: left;
		font-size: 11em;
		letter-spacing: 0.1em;
		line-height: 0.85em;
		padding-top: 5.85%;
		overflow: hidden;
		text-align: left;
		width: 2em;
	}

	header h1:after
	{
		content: "Off";
		display: block;
		letter-spacing: 0;
		width: 2.5em;
	}

	header .issue-info
	{
		float: right;
		font-size: 0.6em;
		padding-top: 14.55%;
	}
}

@media (min-width: 80em) /* ~1280px */
{
	header
	{
		margin: 0 12.578125% 0 11.171875%;
	}

	header h1
	{
		font-size: 14em;
	}
}

/* =FEATURE
------------------------------------------------------- */

.feature
{
	font-family: "Merriweather", serif;
}

.feature .content
{
	padding: 0 5%;
}

.feature h1
{
	color: #FFF;
	background: #FDCD84;
	font-family: "Oswald", sans-serif;
	font-size: 2em;
	text-transform: uppercase;
	text-shadow: 0 2px 2px #B9955E;
	padding: 5% 0 3%;
}

.feature .subheading
{
	color: #B9955E;
	display: block;
	font-family: "Merriweather", serif;
	font-size: 0.45em;
	font-weight: 300;
	letter-spacing: 0.15em;
	text-shadow: none;
}

@media (min-width: 32em) /* ~500px */
{
	.feature h1
	{
		font-size: 3em;
		padding: 3% 0 1%;
	}

	.feature .subheading
	{
		font-size: 0.3em;
	}
}

@media (min-width: 56em) /* ~900px */
{
	.feature
	{
		background: radial-gradient(ellipse 150px 10px at 30% 60.5%, #CCC 0%, white 100%);
		float: right;
		margin: -38% 2% 0 0;
		position: relative;
		padding-left: 10%;
		width: 45%;
	}

	.feature h1
	{
		background: none;
		color: rgba(253, 205, 132, 0);
		line-height: 1.05em;
		margin-top: 64%;
		position: relative;
		text-align: left;
		text-shadow: -0.7em -0.2em 20px #333;
		z-index: 1;
	}

	.feature h1:after
	{
		content: "Positioning Relatives";
		color: rgba(253, 205, 132, 100);
		left: -0.05em;
		position: absolute;
		text-shadow: none;
		top: 0.5em;
	}

	.feature .subheading
	{
		color: #CBB8A0;
		font-size: 0.2em;
		line-height: 1em;
	}

	.feature img
	{
		position: absolute;
		top: 10%;
		margin-left: -15%;
		transform: rotate(-3deg);
		max-width: 100%;
	}
}

@media (min-width: 80em) /* ~1280px */
{

}